<div class="container mt-5">
  <h1 class="text-warning mb-4">Редагувати товар</h1>

  <div class="card shadow p-4">
    <%= render "form" %>
  </div>

  <%= link_to "← Назад", product_path(@product), class: "btn btn-secondary mt-3" %>
</div>
