<div class="container mt-5">
  <h1 class="text-primary mb-4">Додати товар</h1>

  <div class="card shadow p-4">
    <%= render "form" %>
  </div>

  <%= link_to "← Назад", products_path, class: "btn btn-secondary mt-3" %>
</div>
